@font-face {
    font-family: robot;
    src: url('Roboto-Regular.woff2') ;
}

* {
    margin: 0;
    padding: 0;
}
body {
    width: 200px;
    height: 250px;
    overflow-y: auto;
    font-size: 14px;
    padding: 10px;
    color: #333;
    font-family: robot;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

li {
    min-height: 40px;
    padding: 5px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 20px;
}
